<div class="container mt-4 col-md-4">
    <form [formGroup]="form">
        <h3 class="h3 mb-3 font-weight-normal text-center">Registrar Un Servicio</h3>
        <label>Cedula </label>
        <input type="text" class="form-control mb-3" formControlName="cedula" required>
        <label>Identificacion Servicio </label>
        <input type="text" class="form-control mb-3" formControlName="identificacionServicio" required>
        <label>Fecha inicial </label>
        <input type="datetime-local" class="form-control mb-3" placeholder="2021-09-13T18:41:02.363+00:00" formControlName="fechaInicial" required>
        <label>Fecha Final </label>
        <input type="datetime-local" class="form-control mb-3" placeholder="2021-09-13T18:41:02.363+00:00" formControlName="fechaFinal" required>
        <button class="btn btn-primary b" (click)='registrar()'>Report</button>
    </form>
    <br>
    <div *ngIf="message" class="alert alert-secondary" role="alert">{{message}}</div>

</div>